<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <%= currentYear %> &copy; <%= siteTitle %>
            </div>
        </div>
    </div>
</footer>

   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
   <script src="<%= siteUrl %>/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="<%= siteUrl %>/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
   <script src="<%= siteUrl %>/js/script.js"></script>
   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
