<% layout('layouts/admin') -%>
<div class="row">
    <div class="col-xl-3 col-md-8">
       <!-- Card -->
       <div class="card mb-30">
          <div class="card-body">
             <div class="d-flex align-items-center justify-content-between">
                <div class="increase">
                   <div class="card-title d-flex align-items-end mb-2">
                      <a href="/users"><h2><%=user_count %></h2></a>
                   </div>
                   <h3 class="card-subtitle mb-2">Total Users</h3>
                </div>
                <div class="congratulation-img">
                   <img src="<%= siteUrl %>/img/media/users-group-img.jpg" alt="">
                </div>
             </div>
          </div>
       </div>
       <!-- End Card -->
    </div>
     <div class="col-xl-3 col-md-8">
        <div class="card mb-30">
           <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                 <div class="increase">
                    <div class="card-title d-flex align-items-end mb-2">
                       <a href="/restaurants"><h2><%=restaurant_count %></h2></a>
                    </div>
                    <h3 class="card-subtitle mb-2">Total Restaurants</h3>
                 </div>
                 <div class="congratulation-img">
                    <img src="<%= siteUrl %>/img/media/resturent-group-img.jpg" alt="">
                 </div>
              </div>
           </div>
        </div>
    </div> 

    <div class="col-xl-3 col-md-8">
        <!-- Card -->
        <div class="card mb-30">
           <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                 <div class="increase">
                    <div class="card-title d-flex align-items-end mb-2">
                       <a href="/restaurants/duplicate-list-page"><h2><%=DupRestaurant_count %></h2></a>
                    </div>
                    <h3 class="card-subtitle mb-2">Duplicate Restaurant</h3>
                 </div>
                 <div class="congratulation-img">
                    <img src="<%= siteUrl %>/img/media/resturent-group-img.jpg" alt="">
                 </div>
              </div>
           </div>
        </div>
        <!-- End Card -->
    </div>
     <div class="col-xl-3 col-md-8">
        <div class="card mb-30">
           <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                 <div class="increase">
                    <div class="card-title d-flex align-items-end mb-2">
                       <a href="/ratings"><h2><%=rating_count %></h2></a>
                    </div>
                    <h3 class="card-subtitle mb-2">Total Reviews</h3>
                 </div>
                 <div class="congratulation-img">
                    <img src="<%= siteUrl %>/img/media/reviews-img.png" alt="">
                 </div>
              </div>
           </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <div class="card mb-30">
            <div class="card-body pt-30">
                <h4 class="font-20 ">Recent Registrations</h4>
            </div>
            <div class="table-responsive">
                <!-- Invoice List Table -->
                <table class="text-nowrap bg-white dh-table">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%  new_users.forEach(function(user, index) { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%=user.email %></td>
                                <td><% if(user.isSuspended){%><span class="badge label-table badge-secondary">In-Active</span><% }else{ %><span class="badge label-table badge-success">Active</span><% } %></td>
                                <td><a href="/users/view/<%=user._id %>" title="view">View Profile</a></td>
                            </tr>
                        <% });  %> 
                    </tbody>
                </table>
                <!-- End Invoice List Table -->
            </div>
        </div>
    </div>
    
</div>




<script>
    $(document).ready(() => {
        const fetchCounts = (dateFrom = '', dateTo = '') => {
            $.ajax({
                url: '/counts',
                type: "POST",
                data: {
                    dateFrom,
                    dateTo
                },
                dataType: "json",
                success: function(res) {
                    if (res.success) {
                        const { data: {
                            usersCount,
                            driversCount,
                            categoriesCount

                        } } = res;
                        $('.usersCount').text(usersCount);
                        $('.driversCount').text(driversCount);   
                        $('.categoriesCount').text(categoriesCount);      
                    }
                },
                error: function(res){
                    $( ".dashBoardAlert").html(`<div class="alert alert-danger alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>${res.responseJSON.message}</div>`).show();
                }
            });
        }

        fetchCounts();

        $(document).on('change', '#range-datepicker', (e) => {
            e.preventDefault();
            const dateRange = $('#range-datepicker').val().replace(/\s/g,'').split('to');
            fetchCounts(dateRange[0], dateRange[1]);
        });

        $(document).on('click', '.refreshDashboard', (e) => {
            e.preventDefault();
            $('#range-datepicker').val('');
            $('#range-datepicker').flatpickr({
                mode: 'range',
            });
            fetchCounts();
        })
    });
</script>